::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: green;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: green;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: green;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: green;
  }

  